//顏色定義
$color_dark: #3B3E49
$color_blue: #09A8BE


//.........................
@mixin ab_center
  Position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)

@mixin size($w,$h)
  width: $w
  height: $h

@mixin t_b //黑色主標
  color: #3B3E49
  font-size: 54px
  font-weight: 300
  line-height: 75px


@mixin st_b //黑色副標
  color: #3B3E49
  font-size: 18px
  font-weight: 600
  line-height: 25px

@mixin t_w //白色主標
  color: #FFFFFF
  font-size: 54px
  font-weight: 300
  line-height: 75px

@mixin st_w //白色副標
  color: #FFFFFF
  font-size: 18px
  font-weight: 600
  line-height: 25px

@mixin p_p //platform的產品名稱
  font-size: 14px
  font-weight: 600
  line-height: 20px
  text-align: center

@mixin p_t //platform的產品英文
  font-size: 32px
  font-weight: 600
  line-height: 40px
  text-align: center

@mixin p_st //platform產品的簡稱
  font-size: 18px
  font-weight: 600
  line-height: 25px
  text-align: center

@mixin p_intro //platform產品的介紹
  font-size: 13px
  font-weight: 600
  line-height: 18px
  text-align: center

@mixin blue_hr //藍色小線
  max-width: 40px
  border: solid 2px #70BDD4
//.........................
*
  position: relative
  box-sizing: border-box


html,body
  font-family: "PingFang TC"
  width: 100%
  height: 100%
  padding: 0px
  margin: 0px
  overflow-x: hidden


section
  position: relative

h1,h2,h3,h4,h5,h6,p
  margin: 0px


header
  height: 664px
  background-color: #3B3E49
  .t
    color: white
    font-size: 72px
    font-weight: 300
    line-height: 90px
    margin-left: 8%
    padding-top: 130px
    width: 432px

  .st
    +st_w
    margin-left: 8%
    margin-top: 30px

section#platform
  height: 500px

  .t
    +t_b
    margin-left: 13%
    padding-top: 46px

  .st
    +st_b
    margin-left: 13%

  li
    background-color: white
    list-style: none
    display: inline-block
    margin: 10px
    box-shadow: 0px 0px 20px rgba(black,0.1)
    border-radius: 16px
    width: 250px
    height: 409px


  .product
    color: $color_blue
    font-size: 14px
    border: 2px solid #70BDD4
    border-radius: 6px
    padding: 8px
    width: 130px
    text-align: center
    margin: 0 auto
    margin-top: 32px

  .pic
    color: #F9AE0F
    font-size: 20px
    text-align: center
    margin-top: 30px
    margin-bottom: 30px

  .e_name
    color: #3B3E49
    font-size: 32px
    font-weight: 600
    line-height: 40px
    text-align: center

  .c_name
    color: #3B3E49
    font-size: 18px
    font-weight: 600
    line-height: 25px
    text-align: center

  .intro
    width: 210px
    color: #3B3E49
    font-size: 13px
    font-weight: 600
    line-height: 18px
    text-align: center
    margin: 0 auto
    margin-top: 21px

  .more
    height: 48px
    width: 230px
    border-radius: 10px
    background-color: #09A8BE
    color: white
    font-size: 13px
    font-weight: 600
    line-height: 18px
    text-align: center
    padding: 15px
    margin: 0 auto
    margin-top: 35px


section#functions
  height: 664px
  .t
    +t_b
    margin-left: 13%

  .st
    +st_b
    margin-left: 13%

section#fields
  height: 400px
  background-color: $color_blue

  .t
    +t_w
    margin-left: 80%
    padding-top: 46px

  .st
    +st_w
    margin-left: 83.5%


section#customers
  height: 664px
  background-color: #3B3E49
  .t
    +t_w
    margin-left: 13%
    width: 298px
    padding-top: 46px

  .st
    +st_w
    margin-left: 13%

section#maps
  height: 600px
  .t
    +t_b
    display: block
    text-align: center
    margin-top: 46px

  .st
    +st_b
    text-align: center
    display: block


section#download
  height: 546px
  .t
    +t_b
    text-align: center


section#footer
  height: 300px
  background-color: $color_blue

