<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title kabob_KeyViual

  meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
  link(rel="stylesheet", href="css/reset.css")
  link(rel='stylesheet', href="css/bootstrap.css")
  link(rel="stylesheet", href="css/style.css")


body
  nav
    a.site-logo(href='#') Logo
    #nav-main.okayNav(role='navigation')
      ul
        li
          a(href='#') Home
        li
          a(href='#') Shop
        li
          a(href='#') Blog
        li
          a(href='#') Services
        li
          a(href='#') Contacts
        li
          a(href='#') About us
        li
          a(href='#') Testimonials

  header#header_index
    .container
      .row
        .col-sm-4
          .col-sm-12
            h1.t 新零售內容管理賦能平台
          .col-sm-12
            p.st 重新定義連鎖門店管理

        .col-sm-8
          img.icon_service(src="pic/header.png", alt="")

  section#platform
    .container
      .row
        .col-sm-12
          h1.t SaaS級智能營運管理雲平台
      .row
        .col-sm-12
          p.st 滿足門店所有需求

      .row
        .col-sm-3
          .card
            h1.product 數位看板雲服務
            img.icon_service(src="pic/lookr_sk.png", alt="")
            p.e_name Lookr
            p.c_name 盼盼
            p.intro 跨平台，多維度，輕鬆管理多門店屏幕，新媒體更創意
            p.more.more1 了解更多

        .col-sm-3
          .card
            h1.product 音訊公播
            img.icon_service(src="pic/voicer_sk.png", alt="")
            p.e_name Voicer
            p.c_name 樂樂
            p.intro 簡單一鍵式發布店內BGM排期，您最好的音訊公播管家
            p.more.more2 了解更多

        .col-sm-3
          .card
            h1.product 作業教程
            img.icon_service(src="pic/teachor_sk.png", alt="")
            p.e_name Teachor
            p.c_name 學學
            p.intro 全過程資料管理專家，在線瀏覽，簡單便捷，沒有地區限制，有網的地方就能辦公
            p.more.more3 了解更多

        .col-sm-3
          .card
            h1.product 出圖高手
            img.icon_service(src="pic/kabob_sk.png", alt="")
            p.e_name Kabob
            p.c_name 串串
            p.intro 零基礎也能做出高逼格的電子海報，重新定義宣傳模式
            p.more.more4 了解更多

  section#functions
    .container
      .row
        .col-sm-4
          h1.t 強大功能
          p.st 優點與特色功能，如何好操作、擴充性高、支援多裝置等等
          img.icon_service(src="pic/function.png", alt="")

        .col-sm-8
          .row.le

            .col-sm-6
              .row
                .col-sm-4.ml
                  img.icon_service1(src="pic/f1.png", alt="")

                .col-sm-8
                  h2.f1 所見即所得
                  h3.sf1 操作介面簡單清爽，輕鬆完成操作

              .row.mt
                .col-sm-4.ml
                  img.icon_service1(src="pic/f3.png", alt="")

                .col-sm-8
                  h2.f2 門店播放
                  h3.sf2 任何時候都可以緊急插入公播內容

              .row.mt
                .col-sm-4.ml
                  img.icon_service1(src="pic/f5.png", alt="")

                .col-sm-8
                  h2.f3 團隊協作工作
                  h3.sf3 實現多人協同工作，編輯，交流

              .row.mt
                .col-sm-4.ml
                  img.icon_service1(src="pic/f7.png", alt="")

                .col-sm-8
                  h2.f4 新媒體營銷
                  h3.sf4 完善的新媒體互動營銷體系，提升營銷轉換率


            .col-sm-6
              .row
                .col-sm-4
                  img.icon_service1(src="pic/f2.png", alt="")

                .col-sm-8
                  h2.f5 排程清單
                  h3.sf5 活動排期提前發佈，宣傳計畫有條不絮

              .row.mt
                .col-sm-4
                  img.icon_service1(src="pic/f4.png", alt="")

                .col-sm-8
                  h2.f6 歌單雲儲存
                  h3.sf6 支持網絡間無縫


              .row.mt
                .col-sm-4
                  img.icon_service1(src="pic/f6.png", alt="")

                .col-sm-8
                  h2.f7 隨時隨地
                  h3.sf7 沒有地區限制，上網就能開始工作學習

              .row.mt
                .col-sm-4
                  img.icon_service1(src="pic/f8.png", alt="")

                .col-sm-8
                  h2.f8 使用簡單
                  h3.sf8 無需下載註冊就能使用，多屏互動，應有盡有



  section#fields
    .container
      .row
        .col-sm-12
          h1.t 應用領域

        .col-sm-12
          p.st 連鎖門店/餐飲/時裝

  section#customers
    .container
      .row
        .col-sm-4
          .col-sm-12
          h1.t 他們都在用Kabob CMS

          .col-sm-12
          p.st 優秀、源於品質

        .col-sm-8
          .row
            .col-sm-4

            .col-sm-3
              .circle1
                p.intro1 100M
                p.intro2 個裝置連接

            .col-sm-1

            .col-sm-3
              .circle2
                p.intro1 150
                p.intro2 家客戶

      .row.mt
        .col-sm-2
          img.icon_service(src="pic/c1.png", alt="")

        .col-sm-2
          img.icon_service(src="pic/c2.png", alt="")

        .col-sm-2
          img.icon_service(src="pic/c3.png", alt="")

        .col-sm-2
          img.icon_service(src="pic/c4.png", alt="")

        .col-sm-2
          img.icon_service(src="pic/c5.png", alt="")

        .col-sm-2
          img.icon_service(src="pic/c6.png", alt="")



  section#maps
    .container
      .row
        .col-sm-12
          h1.t 遍佈各地的服務

        .col-sm-12
          p.st 中國、台灣、日本、新加坡等等

        .btn.china China

        .btn.singapore Singapore

        .btn.japan Japan

        .btn.taiwan Taiwan

    img.icon_service(src="pic/worldmap_draw.png", alt="")

  section#download
    .container
      .row
        .col-sm-12
          h1.t 應用下載

        .col-sm-3
          .card
            img.icon_service(src="pic/lookr_icon.png", alt="")
            h1 Lookr
            h2 windows

        .col-sm-3
          .card
            img.icon_service(src="pic/lookr_icon.png", alt="")
            h1 Lookr
            h2 windows

        .col-sm-3
          .card
            img.icon_service(src="pic/lookr_icon.png", alt="")
            h1 Lookr
            h2 windows

        .col-sm-3
          .card
            img.icon_service(src="pic/voicer_icon.png", alt="")
            h1 Voicer
            h2 Android

  section#footer
    .container


  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='https://cdn.rawgit.com/VPenkov/okayNav/master/app/js/jquery.okayNav.js')
  script(src='scripts/index.js')







