<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title kabob_KeyViual
  link(rel="stylesheet", href="reset.css")
  link(rel="stylesheet", href="kv.css")

body
  navbar.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand Lookr
    .nav.navbar-nav.navbar-right
      li
        a 新聞
      li
        a 產品
      li
        a 方案
      li
        a 開啟平台
      li
        a 註冊
      li
        a 登入


header
  h_t 新零售內容管理賦能平台
  br
  h_st 重新定義連鎖門店管理

section#platform
  p_t SaaS級智能營運管理雲平台
  br
  p_st 滿足門店所有需求


  br
  p1_p 數位看板雲服務
  p1_t Lookr
  p1_st 盼盼
  p1_intro 跨平台，多維度，輕鬆管理多門店屏幕，新媒體更創意
  p1_more 了解更多

  p2_p 音訊公播
  p2_t Voicer
  p2_st 樂樂
  p2_intro 簡單一鍵式發布店內BGM排期，您最好的音訊公播管家
  p2_more 了解更多

  p3_p 作業教程
  p3_t Teachor
  p3_st 學學
  p3_intro 全過程資料管理專家，在線瀏覽，簡單便捷，沒有地區限制，有網的地方就能辦公
  p3_more 了解更多

  p4_p 出圖高手
  p4_t Kabob
  p4_st 串串
  p4_intro 零基礎也能做出高逼格的電子海報，重新定義宣傳模式
  p4_more 了解更多

section#functions
  f_t 強大功能
  br
  f_st 優點與特色功能，如何好操作、擴充性高、支援多裝置等等

  f1_t 所見即所得
  f1_st 操作介面簡單清爽，輕鬆完成操作

  f2_t 門店播放
  f2_st 任何時候都可以緊急插入公播內容

  f3_t 團隊協作工作
  f3_st 實現多人協同工作，編輯，交流

  f4_t 新媒體營銷
  f4_st 完善的新媒體互動營銷體系，提升營銷轉換率

  f5_t 排程清單
  f5_st 活動排期提前發佈，宣傳計畫有條不絮

  f6_t 歌單雲儲存
  f6_st 支持網絡間無縫

  f7_t 隨時隨地
  f7_st 沒有地區限制，上網就能開始工作學習

  f8_t 使用簡單
  f8_st 無需下載註冊就能使用，多屏互動，應有盡有

section#fields
  fd_t 應用領域
  br
  fd_st 連鎖門店/餐飲/時裝

section#customers
  c_t 他們都在用Kabob CMS
  br
  c_st 優秀、源於品質

section#maps
  m_t 遍佈各地的服務
  br
  m_st 中國、台灣、日本、新加坡等等

section#download
  d_t 應用下載

footer





