html, body {
  font-family: "PingFang TC";
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

section {
  position: relative; }

header {
  height: 664px;
  background-color: #3B3E49; }
  header h_t {
    color: #FFFFFF;
    font-size: 54px;
    font-weight: 300;
    line-height: 75px; }
  header h_st {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px; }

section#platform {
  height: 500px; }
  section#platform p_t {
    color: #3B3E49;
    font-size: 54px;
    font-weight: 300;
    line-height: 75px;
    margin-left: 10%; }
  section#platform p_st {
    color: #3B3E49;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin-left: 10%; }

section#function {
  height: 664px; }
  section#function f_t {
    color: #3B3E49;
    font-size: 54px;
    font-weight: 300;
    line-height: 75px;
    margin-left: 10%; }
  section#function f_st {
    color: #3B3E49;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin-left: 10%; }

section#fields {
  height: 300px; }
  section#fields fd_t {
    color: #3B3E49;
    font-size: 54px;
    font-weight: 300;
    line-height: 75px;
    margin-right: 10%; }
  section#fields fd_st {
    color: #3B3E49;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin-right: 10%; }

section#customers {
  height: 664px; }
  section#customers c_t {
    color: #FFFFFF;
    font-size: 54px;
    font-weight: 300;
    line-height: 75px;
    margin-left: 10%; }
  section#customers c_st {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin-left: 10%; }

section#maps {
  height: 600px; }
  section#maps m_t {
    color: #3B3E49;
    font-size: 54px;
    font-weight: 300;
    line-height: 75px;
    text-align: center; }
  section#maps m_st {
    color: #3B3E49;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center; }

section#download {
  height: 546px; }
  section#download d_t {
    color: #3B3E49;
    font-size: 54px;
    font-weight: 300;
    line-height: 75px;
    text-align: center; }
