//顏色定義
$color_dark: #3B3E49
$color_blue: #09A8BE


//.........................
@mixin ab_center
  Position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)

@mixin size($w,$h)
  width: $w
  height: $h

@mixin t_b //黑色主標
  color: #3B3E49
  font-size: 54px
  font-weight: 300
  line-height: 75px

@mixin st_b //黑色副標
  color: #3B3E49
  font-size: 18px
  font-weight: 600
  line-height: 25px

@mixin t_w //白色主標
  color: #FFFFFF
  font-size: 54px
  font-weight: 300
  line-height: 75px

@mixin st_w //白色副標
  color: #FFFFFF
  font-size: 18px
  font-weight: 600
  line-height: 25px

@mixin p_p //platform的產品名稱
  font-size: 14px
  font-weight: 600
  line-height: 20px
  text-align: center

@mixin p_t //platform的產品英文
  font-size: 32px
  font-weight: 600
  line-height: 40px
  text-align: center

@mixin p_st //platform產品的簡稱
  font-size: 18px
  font-weight: 600
  line-height: 25px
  text-align: center

@mixin p_intro //platform產品的介紹
  font-size: 13px
  font-weight: 600
  line-height: 18px
  text-align: center

@mixin blur_hr //藍色小線
  height: 2px
  width: 40px
  background-color: #70BDD4
//.........................
html,body
  font-family: "PingFang TC"
  width: 100%
  height: 100%
  padding: 0px
  margin: 0px
  overflow-x: hidden
  position: relative
  box-sizing: border-box

section
  position: relative


header
  height: 664px
  background-color: #3B3E49
  h_t
    +t_w

  h_st
    +st_w

section#platform
  height: 500px
  p_t
    +t_b
    margin-left: 10%

  p_st
    +st_b
    margin-left: 10%


section#function
  height: 664px
  f_t
    +t_b
    margin-left: 10%

  f_st
    +st_b
    margin-left: 10%

section#fields
  height: 300px
  fd_t
    +t_b
    margin-right: 10%

  fd_st
    +st_b
    margin-right: 10%


section#customers
  height: 664px
  c_t
    +t_w
    margin-left: 10%

  c_st
    +st_w
    margin-left: 10%

section#maps
  height: 600px
  m_t
    +t_b
    text-align: center

  m_st
    +st_b
    text-align: center


section#download
  height: 546px
  d_t
    +t_b
    text-align: center



