//顏色定義
$color_dark: #3B3E49
$color_blue: #09A8BE


//.........................
@mixin ab_center
  Position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)

@mixin size($w,$h)
  width: $w
  height: $h

@mixin t_b //黑色主標
  color: #3B3E49
  font-size: 54px
  font-weight: 300
  line-height: 75px


@mixin st_b //黑色副標
  color: #3B3E49
  font-size: 18px
  font-weight: 600
  line-height: 25px

@mixin t_w //白色主標
  color: #FFFFFF
  font-size: 54px
  font-weight: 300
  line-height: 75px

@mixin st_w //白色副標
  color: #FFFFFF
  font-size: 18px
  font-weight: 600
  line-height: 25px

@mixin p_p //platform的產品名稱
  font-size: 14px
  font-weight: 600
  line-height: 20px
  text-align: center

@mixin p_t //platform的產品英文
  font-size: 32px
  font-weight: 600
  line-height: 40px
  text-align: center

@mixin p_st //platform產品的簡稱
  font-size: 18px
  font-weight: 600
  line-height: 25px
  text-align: center

@mixin p_intro //platform產品的介紹
  font-size: 13px
  font-weight: 600
  line-height: 18px
  text-align: center

@mixin blue_hr //藍色小線
  max-width: 40px
  border: solid 2px #70BDD4
//.........................
*
  position: relative
  box-sizing: border-box


html,body
  font-family: "PingFang TC"
  width: 100%
  height: 100%
  padding: 0px
  margin: 0px
  overflow-x: hidden


section
  position: relative


header
  height: 664px
  background-color: #3B3E49
  h_t1
    +t_w
    display: block
    margin-left: 8%
    padding-top: 130px

  h_t2
    +t_w
    margin-left: 8%

  h_st
    +st_w
    display: block
    margin-left: 8%
    margin-top: 30px

section#platform
  height: 500px

  p_t
    display: block
    +t_b
    margin-left: 13%
    padding-top: 46px

  p_st
    +st_b
    margin-left: 13%



section#functions
  height: 664px
  f_t
    +t_b
    margin-left: 13%

  f_st
    +st_b
    margin-left: 13%

section#fields
  height: 400px
  background-color: $color_blue

  fd_t
    +t_w
    display: flex
    margin-left: 80%
    padding-top: 46px

  fd_st
    +st_w
    margin-left: 83.5%


section#customers
  height: 664px
  background-color: #3B3E49
  c_t
    +t_w
    margin-left: 13%
    display: block
    padding-top: 46px

  c_st
    +st_w
    margin-left: 13%

section#maps
  height: 600px
  m_t
    +t_b
    display: block
    text-align: center
    margin-top: 46px

  m_st
    +st_b
    text-align: center
    display: block


section#download
  height: 546px
  d_t
    +t_b
    text-align: center
    display: block



section#footer
  height: 300px
  background-color: $color_blue

